.navbar {
  background-color: #3D5A80;
}

.navbar .navbar-brand {
  
  color: #c39793;
  /* color: #FAC05E potential option*/
}

.navbar .nav-link{
  color: #c39793;
}

.navbar .nav-link:hover {
  opacity: 0.5;
}
.navbar .navbar-toggler{
  border-color: #c39793;
} 

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer {
  background-color: #3D5A80;
}

.footer h5{
  color:  #c39793;
}

.footer p{
  color: black;
}

.footer p:hover {
  opacity: 0.6;
}
.my-color {
  color: #966367;
 
}

